.box{
    width:500px;
    height:500px;
    border:5px dashed;
}
.footer{
    background-color: yellow;
    position:fixed;
    bottom:0;
    width:100%;
    display:flex;
    justify-content: flex-end;
}
.links{
    display:flex;
    list-style: none;
}
.link{
    padding:10px;
}
.copy{
    position:absolute;
    right:50%;
    transform:translateX(50%);
}
.main{
    position:relative;
}
.box{
    position: absolute;
    display:flex;
}
.box3{
    flex:1;
    color:green;
    flex:1;
}
.box2{
    color:red;
    border-radius: 25%;
    left:33%;
}
.box1{
    flex:1;
    color:blue;
    border-radius:50%;
    right:0;
    flex:1;
}
